.widget {
  height: 100%;
  overflow: hidden;
}

.cpu, .mem {
  display: inline-block;
  position: relative;
}

.cpu .value, .mem .value {
  position: absolute;
  top: 46px;
  left: 30px;
  width: 50px;
  text-align: center;
}
